<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JoinNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JoinNET.Properties.Settings>
            <setting name="imageWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="pane_sub_column_width" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="documentroot" serializeAs="String">
                <value />
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
        </JoinNET.Properties.Settings>
    </userSettings>
</configuration>